<div class="container">
<p *ngIf="!isloading">
    <app-loading-spinner></app-loading-spinner>
</p>
</div>
<div class="container">

<div *ngFor="let article of articleData">
    <div class="user">
        <a routerLink="/profile">{{article.author.username}}</a><br>
        <span>{{article.createdAt|date:'longDate'}}</span>
    </div>
    <!-- {{article.slug}}<br> -->
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <p>{{article.body}}</p>
    <!-- {{article.taglist}}<br> -->
    {{article.updatedAt|date :'longDate'}}<hr>

</div>
</div>
