<p>article works!</p>
<form>
    <fieldset>  
        <input type="text" class="form-control"ng-required=1 ng-model="name" placeholder="name">
    </fieldset>
    <fieldset>
        <input type="text" class="form-control"ng-required=1 ng-model="foobar" placeholder="email">
    </fieldset>
    <fieldset>
        <textarea class="form-control"></textarea>
    </fieldset>
    <fieldset>  
        <input type="text" class="form-control"ng-required=1 ng-model="name" placeholder="name">
    </fieldset>

    
</form>
<button class="btn btn-primary">Publish Article</button>