<div class="card">
    <div class="container">
        <div class="row">
            <h1>REGISTER</h1>
            <!-- <app-loading-spinner></app-loading-spinner> -->
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="userName">UserName</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                        formControlName="username">
                    <span class="text-danger"
                        *ngIf="signUpForm.get('username')?.invalid&&signUpForm.get('username')?.touched">
                        Please Enter a valid username
                    </span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        formControlName="password" [type]="hide?'password':'text'"><i class="fa-solid fa-eye"
                        (click)="hide=!hide"></i>

                    <span class="text-danger"
                        *ngIf="signUpForm.get('password')?.invalid&&signUpForm.get('password')?.touched">
                        <ul>
                            <li> The password should be a minimum of eight characters long.</li>
                            <li>It has at least one lower case letter.</li>
                            <li> It has at least one upper case letter.</li>
                            <li> It has at least one number.</li>
                            <li>It has at least one special character</li>
                        </ul>
                    </span>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" formControlName="email">
                    <span class="text-danger"
                        *ngIf="signUpForm.get('email')?.invalid&&signUpForm.get('email')?.touched">
                        Please Enter a valid email address
                    </span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary"[disabled]="signUpForm.invalid">Submit</button>
                    <!-- <button type="submit" class="btn btn-danger"(click)="onReset()" >Reset</button> -->
                    <br>
                    Already have account?
                    <a style="color: blue;" routerLink="/signin">login</a>

                </div>


            </form>


        </div>
    </div>
</div>