<app-header *ngIf="false"></app-header>

<header>
  <div class="navbar shadow-sm">
    <strong style="font-size:40px;color: #5CB85C;padding-left: 90px;">conduit</strong>


    <div class="navbar-brand align-item-center d-flex">
 
      
     <li>
      <a
      class="navbar-brand my-2 my-sm-0 align-item-center "
      [routerLink]="['/']"
      routerLinkActive="active-link"
      >Home</a
    ></li>
    <li>
    <a
      class="navbar-brand my-2 my-sm-0"
      [routerLink]="['/article']"
      routerLinkActive="active-link"
      >New Article</a
    ></li>
    <li>
    <a
      class="navbar-brand my-2 my-sm-0"
      [routerLink]="['/setting']"
      routerLinkActive="active-link"
      >Setting</a
    ></li>
    <li>
      <a
        class="navbar-brand my-2 my-sm-0"
        routerLink="['/userProfile']"
        routerLinkActive="active"
        >userProfile</a
      ></li>
    </div>
  </div>
 
</header>

