a.navbar-brand{
 // position: relative;
 display: flex;
 // background-color: aquamarine;
 justify-content: space-around;
 float: right;
 padding: 8px 15px;
 
// a.navbar-brand {

//  float: right;
// }
}

