<!-- <nav class="navbar sticky-top navbar-light bg-light">
  <a
    class="navbar-brand my-2 my-sm-0"
    [routerLink]="['/']"
    routerLinkActive="active-link"
    >Home</a
  >
  <a
    class="navbar-brand my-2 my-sm-0"
    [routerLink]="['/signup']"
    routerLinkActive="active-link"
    >Sign Up</a
  >
  <a
    class="navbar-brand my-2 my-sm-0"
    [routerLink]="['/signin']"
    routerLinkActive="active-link"
    >Sign In</a
  >
</nav> -->

<header >
  <div class="navbar shadow-sm">
    <strong style="font-size:40px;color: #5CB85C;padding-left: 90px;">conduit</strong>


    <div class="navbar-brand align-item-center d-flex">
 
      
     <li>
      <a
      class="navbar-brand my-2 my-sm-0 align-item-center "
      [routerLink]="['/']"
      routerLinkActive="active-link"
      >Home</a
    ></li>
    <li>
    <a
      class="navbar-brand my-2 my-sm-0"
      [routerLink]="['/signup']"
      routerLinkActive="active-link"
      >Sign Up</a
    ></li>
    <li>
    <a
      class="navbar-brand my-2 my-sm-0"
      [routerLink]="['/signin']"
      routerLinkActive="active-link"
      >Sign In</a
    ></li>
    </div>
  </div>
 
</header>
