// a.navbar-brand{
//  // position: relative;
//  display: flex;
//  // background-color: aquamarine;
//  justify-content: space-evenly;
//  float: right;
//  padding: 8px 15px;
 
// // a.navbar-brand {

// //  float: right;
// // }
// }
.conduit{
 color: rgb(12, 131, 12);
 font-weight: bolder;
 float: left;
}

